@page "/facelogins"

<h3>FaceLogin 人脸识别</h3>

<h4>显示在网页的最下方，提供返回顶端按钮</h4>

<p><code>Footer</code> 组件使用时注意样式表 <code>position</code> 属性的设置</p>

<Block Title="基础用法" Introduction="传递滚动条组件的 ID 给页脚组件" CodeFile="footer.1.html">
    <FaceLogin />
</Block>

<AttributeTable Items="@GetAttributes()" />
