@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @ref="ScreenCaptureElement" width="640" height="680">

	<p>Shows you the contents of the selected part of your display. Click the Start Capture button to begin.</p>

	<p>
		<Button Text="@StartCaptureButtonText" OnClick="StartCapture"></Button>
		&nbsp;
		<Button Text="@StartCameraCaptureButtonText" OnClick="StartCameraCapture"></Button>
		&nbsp;
		<Button Text="@StopCaptureButtonText" OnClick="StopCapture"></Button>
	</p>

	<video id="video" autoplay></video>
	<br>
	<button id="startbutton">Take photo</button>
	<button id="startstream">Take stream</button>
	  <canvas id="canvas">
	  </canvas>
	  <div class="output">
		<img id="photo" alt="The screen capture will appear in this box.">
	  </div>

	<strong>Log:</strong>
	<br>
	<pre id="log"></pre>

</div>
