@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase
@inject BaiduFaceAIHttpClient BaiduFaceHttpClient

<div class="face" @ref="FaceElement">
    <video class="face-header"></video>
    <canvas></canvas>
    <div class="face-footer">
        <Button Text="注册" Icon="fa fa-user" data-method="register" />
        <Button Text="拍照" Icon="fa fa-user" IsDisabled="true" data-method="capture" />
        <Button Text="登录" Icon="fa fa-user" />
        <Button Text="设置" Icon="fa fa-gear" />
    </div>

    <Modal @ref="ModalSetting">
        <ModalDialog>

        </ModalDialog>
    </Modal>
</div>
