@page "/pulses"

<h3>Pulse 按钮</h3>

<h4>常用的操作按钮。</h4>

<Block Title="基础用法" Introduction="基础的按钮用法。">
    <div class="row g-3">
        <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
            <Pulse Color="Color.Primary">主要按钮</Pulse>
        </div>
    </div>
</Block>

