@page "/I4SJL7_629_b09"

<h3>issue I4SJL7</h3>
 
<p>Job States:</p>
<Table TItem="DynamicObject" 
       DoubleClickToEdit="true" 
       DynamicContext="DataTableDynamicContext" 
       IsMultipleSelect="true" 
       IsBordered="true" 
       IsStriped="true" 
       ShowToolbar="true" 
       ShowExtendButtons="true"
       @bind-SelectedRows="SelectedItems"
       >
</Table>

<ul class="ul-demo">
    @foreach (var item in SelectedItems)
    {
        <li>@item.GetValue("id")</li>
    }
</ul>
